:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

canvas {
  position: fixed;
  display: block;
  z-index: -999;
  height: 100vh;
}

body {
  scroll-behavior: smooth;
  margin: 0;
  display: flex;
  flex-direction: column;
  place-items: start;
  min-width: 320px;
  min-height: 100vh;
 }

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;

  :hover {
    color: #535bf2;
  }
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;

  h1 {
    font-size: 3.2em;
    margin-bottom: 0;
    line-height: 1.1;
    filter: drop-shadow(0 0 2em #f7df1eaa);
  }

  header {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .logo {
      padding: 1.5em 1.5em 1.5em 0;
      will-change: filter;
      transition: filter 300ms;
      filter: drop-shadow(0 0 2em #646cffaa);
    }

    .social {
      display: flex;
      align-items: center;
      gap: 12px;

      a {
        border-radius: 0.2em;
        padding: 0.3em;
      }
      .patreon {
        color: #f96854;
        border: 1px solid #f96854;
        filter: drop-shadow(0 0 2em #f96854);

        &:hover {
          filter: drop-shadow(0 0 2em #f78f81);
        }
      }
      .paypal {
        color: #3b7bbf;
        border: 1px solid #3b7bbf;
        filter: drop-shadow(0 0 2em #3b7bbf);
        &:hover {
          filter: drop-shadow(0 0 2em #618ebe);
        }
      }
    }
  }

  main {
    display: flex;
    flex-direction: column;
    gap: 50px;
    max-width: 1024px;

    .about {
      font-size: 18px;
    }

    .warning {
      display: flex;
      align-items: center;
      background-color: #303030;
      padding: 1.5em;
      border-radius: 5px;
      gap: 12px;
      border: 1px solid black;
      max-width: 720px;
    }

    .available {
      display: flex;
      flex-direction: column;

      h3 {
        font-size: 30px;
        filter: drop-shadow(0 0 2em #15c409aa);
        margin-bottom: 0;
      }
      ul {
        li {
          display: flex;
          align-items: center;
          gap: 8px;
          border: 1px solid #535bf2;
          background-color: #303030;
          padding: 1em;
          border-radius: 5px;

          .cost {
            font-size: 12px;
          }

        }
      }

      .divider {
        display: flex;
        gap: 4px;
        justify-content: center;
        margin: 1em 0;

        > div { 
          width: 10px;
          height: 10px;
          border-radius: 50%;
          background-color: #303030;
          border: 1px solid #535bf2;
        }
      }
    }

    .support {
      h3 {
        font-size: 30px;
        color: #535bf2;
        background-color: rgba(255, 255, 255, 0.925);
        width: fit-content;
        border-radius: 5px;
        padding-left: 6px;
        padding-right: 6px;
        filter: drop-shadow(0 0 2em white);
        margin-bottom: 0;
      }

      .social {
        display: flex;
        gap: 24px;
        margin-top: 2em;
        .paypal {
          background-color: #3b7bbf;
          padding: 0.5em 1em;
          border-radius: 15px;
  
          font-weight: bold;
          color: black;
  
          :hover {
            filter: drop-shadow(0 0 2em #fec349);
          }
        }
  
        .patreon {
          background-color: #f96854;
          padding: 0.5em 1em;
          border-radius: 15px;
  
          font-weight: bold;
          color: black;
  
          :hover {
            filter: drop-shadow(0 0 2em #fec349);
          }
        }
      }
    }

    .infra {
      h3 {
        font-size: 30px;
        filter: drop-shadow(0 0 2em #9c09c4aa);
        margin-bottom: 0;
      }

      ul {
        margin-top: 1.5em;
        display: flex;
        flex-direction: column;
        gap: 1.5em;
        align-items: start;
        justify-content: space-between;

        @media (min-width: 1024px) {
          align-items: center;
          flex-direction: row;
        }

        li {
          a {
            img {
              // aspect-ratio: 1;
              filter: brightness(0) invert(1);
              width: 200px;
            }
          }
        }
      }
    }

  }

  footer {
    margin-top: 5em;
    .copyright {
      margin-top: 1em;
    }
  }

}

